@import '../../global.scss';

.projects {
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-1, .project-2-pc {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .box-img {
            height: auto;
        }

        .box-p {

            .box-p::first-letter {
                font-size: 200%;
            }

            .icons {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }

    .project-2 {
        display: none;
    }

    @include mobile {
        .project-1, .project-2 {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .project-2-pc {
            display: none;
        }
    }
}


/* --- icons style --- */
.fa-html5{
    color: orangered;
    filter: drop-shadow(2px 2px 2px $dark);
}
.fa-css3-alt{
    color: royalblue;
    filter: drop-shadow(2px 2px 2px $dark);
}
.fa-js-square{
    color: gold;
    filter: drop-shadow(2px 2px 2px $dark);
}
.fa-bootstrap{
    color: purple;
    filter: drop-shadow(2px 2px 2px $dark);
}
.fa-sass{
    color: violet;
    filter: drop-shadow(2px 2px 2px $dark);
}
.fa-react{
    color: cyan;
    filter: drop-shadow(2px 2px 2px $dark);
}
.fa-npm{
    color: firebrick;
    filter: drop-shadow(2px 2px 2px $dark);
}
.fa-node{
    color: forestgreen;
    filter: drop-shadow(2px 2px 2px $dark);
}
.fa-bars{
    color: white;
    filter: drop-shadow(2px 2px 2px $dark);
}