@import '../../global.scss';

.intro {
    background-color: #fff;
    height: 100vh;
}

#myElement {
    color: grey;
    text-shadow: 2px 2px 5px $dark;
    height: 15vh;
}

#tsparticles {
    height: 100vh;
}